#keyboard-help.modal{role: "dialog", "aria-labelledby": "keyboard-help-title"}
  %h2#keyboard-help-title= t('accessibility.keyboard_shortcuts.title')
  %ul.keyboard-shortcuts-list
    %li= t('accessibility.keyboard_shortcuts.main_content')
    %li= t('accessibility.keyboard_shortcuts.search')
    %li= t('accessibility.keyboard_shortcuts.new_text') 